body{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
#bottom-half{
	display:flex;
	align-items: flex-end;
	justify-content: flex-end;
	height:300px;
}

#pole{
	width: 500px;
	height: 250px;
	margin-bottom: 25px;
	margin-right: 15px;
}
#game-stats{
	height:225px;
	width:900px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
#fishing-spot{
	background-image: url("https://7731c8515a5f2cbe9f51-77b0c0fa67b158fa53583bc3587fa989.ssl.cf5.rackcdn.com/190003507-vacant-land-1n5g35d-o.jpg");
	width: 900px;
	height: 850px;
	display:flex;
	flex-direction: column;
	align-content: space-between;
}
#player1, #player2{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height:225px;
	width: 300px;
	background-color:rgba(11,110,35,.8);
	border-radius: 5px;
}
h1{
	text-align: center;
	font-size: 50px;
	height:70px;
}
#logo{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height:225px;

}
#catch-meter{
	background-color: blue;
	height:50px;
	width:300px;
	margin-top: 25px;
}
#block{
	height:50px;
	width:5px;
	background-color: black;
}
h3{
	text-align: center;
	height:150px;
	width:300px;
	font-size: 30px;
	overflow-wrap: break-word;
}
aside{
	width:530px;
	height:850px;
	background-color: rgb(169,169,169);
}
#guide{
	display:flex;
	justify-content: center;
	height:300px;
	width:900px;
}
#msgbox{
	background-color:rgba(169,169,169,.6); 
	width:300px;
	height:105px;
	overflow: hidden;
}
li{
	font-size: 25px;
	list-style: none;
}

